:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #242424;
}

.app-container {
  background-color: #242424;
}

.card {
  margin-left: 25%;
  margin-right: 25%;
}

table {
  table-layout: fixed;
  width: 100%;
}

td,
th {
  border-width: 4px !important;
  font-size: xx-large;
  width: auto;
}

#user-guess {
  overflow-x: hidden;
  width: max-content;
}

.btn-guess {
  margin-left: auto;
}
